.mid-height {
    height: 800px;
}
h2 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 85px;
    color: white;
}

body {
  
    background-color: black;
    
    
    background: url(https://api.nasa.gov/images/apod.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;


}

.valign {
    display: flex;
    align-items: center;
}

form {
    width: 100%;
}




 


